<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <meta name="description" content="Todo App - Curso de Vue 2">
	    <meta name="author" content="http://johanquiroga.me">
		<meta charset="UTF-8">

		<title>Todo App - Curso de Vue 2</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div class="container" id="app">
			<h2>Tareas</h2>

			<ul class="list-group tasks">
				<li v-for="task in tasks" class="list-group-item"
					:class="{ editing: task.editing, completed: !task.pending }">
					<a href="#"><span class="glyphicon" :class="task.pending ? 'glyphicon-unchecked' : 'glyphicon-check'" aria-hidden="true"></span></a>
				
					<template v-if="!task.editing">
						<span class="description">{{ task.description }}</span>

						<div>
							<a href="#">
								<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
							</a>
							<a href="#">
								<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
							</a>
						</div>
					</template>

					<template v-else>
						<input type="text" v-model.trim="task.description">

						<div>
							<a href="#">
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							</a>
							<a href="#">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							</a>
						</div>
					</template>
				</li>
			</ul>

			<form @submit.prevent="createTask" class="new-task-form">
				<input v-model.trim="new_task" type="text" class="form-control">
				<button class="btn btn-primary">Crear tarea</button>
			</form>

			<footer class="footer">
				<p>&copy; 2018 Johan Quiroga</p> 
			</footer>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
		<script src="app.js"></script>
	</body>
</html>